USE [master]
GO
/****** Object:  Database [LaptopWeb]    Script Date: 14/03/43 11:41:38 م ******/
CREATE DATABASE [LaptopWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaptopWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LaptopWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaptopWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LaptopWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaptopWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaptopWeb]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 14/03/43 11:41:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[userId] [nvarchar](50) NULL,
	[lapId] [int] NULL,
	[quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lap]    Script Date: 14/03/43 11:41:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lap](
	[name] [nvarchar](50) NOT NULL,
	[brand] [nchar](10) NOT NULL,
	[color] [nchar](10) NOT NULL,
	[price] [int] NOT NULL,
	[decs] [nvarchar](max) NOT NULL,
	[stauts] [nchar](10) NOT NULL,
	[category] [nchar](10) NULL,
	[offer] [int] NULL,
	[pic] [varchar](255) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setOrder]    Script Date: 14/03/43 11:41:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setOrder](
	[userId] [nchar](50) NOT NULL,
	[details] [nvarchar](max) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 14/03/43 11:41:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Fname] [nchar](10) NOT NULL,
	[Lname] [nchar](10) NOT NULL,
	[email] [nchar](50) NOT NULL,
	[address] [nchar](10) NOT NULL,
	[phone] [int] NOT NULL,
	[password] [nchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[city] [nchar](50) NULL,
	[country] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
