@{
    ViewBag.Title = "Contact";
}
    <h3>
        <hr /><hr /><hr /><hr />
        <address>
Elctro.<br />
            Jeddah, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            566.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Elctro@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
        </address>
    </h3>

<hr /><hr /><hr /><hr /><hr /><hr />